.gamalytics-block {
  margin-top: 6px;
  margin-right: 16px;
  padding: 4px 0;
  background-color: transparent;
  border-radius: 0;
  color: #c6d4df;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}